<section class="post-header" style="margin-top:-50px;">
    <div class="header-content  post-container">
        <a class="back-to" href="./About Us">Back to About NomNom</a>
        <h1 class="header-title">Return and Exchange Terms</h1>
        <img src="./assets/pic1.webp" alt="" class="header-img">
    </div>
</section>
<section class="post-content post-container" style="margin-bottom: -1px; margin-top: 30px;">
    <div>
        <div>
            <div style="font-size: 15px; font-style: italic; color: #233000;">
                <h3>NomNom_Official</h3>
                <p style="color: grey; font-size: 12px;">17th May, 2024</p>
            </div>
        </div>
    </div>
    <blockquote>
        Thank you for shopping at NomNom. We want to ensure that you are completely satisfied with your purchase. If you are not entirely satisfied with your purchase, we're here to help.    </blockquote>
    <h3 class="sub-heading">1. Returns</h3>
    <p class="post-text">
        At NomNom, we strive to ensure your satisfaction with every purchase. You may request a return or exchange of your items under the following circumstances:
        <li>If the items received do not match the type or design specified in your order or as displayed on our website at the time of purchase.</li>
        <li>If the quantity received is insufficient or does not meet the specifications stated in your order.</li>
        <li>If the items show visible external damage such as torn packaging, peeling, or breakage.</li>
        You have 24 hours (Brownie, Butter) and 14 days (Cookies, Dried-fruits, Biscotti, Nuts and Granola) to return the items from the date you received it. To be eligible for a return, your item must be unused and in the same condition that you received it. Your item must be in the original packaging. Your item needs to have the receipt or proof of purchase.
    </p>
    <h3 class="sub-heading">2. Refunds</h3>
    <p class="post-text">
        Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item. If your return is approved, we will initiate a refund to your credit card (or original method of payment). You will receive the credit within a certain amount of days, depending on your card issuer's policies.
    </p>
    <h3 class="sub-heading">3. Shipping cost</h3>
    <p class="post-text">
        You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non­refundable.</p>
    <h3 class="sub-heading">4. Contact Us</h3>
    <p class="post-text">
        If you have any questions on how to return your item to us, contact us immediately.  </p>
    <h3 class="sub-heading">5. Policy Changes</h3>
    <p class="post-text">
        NomNom reserves the right to modify or amend this policy at any time. Any changes will be effective immediately upon posting to the site. Your continued use of the site following the posting of changes to these terms will mean you accept those changes.</p>  
        <blockquote>
            By shopping at NomNom, you agree to be bound by this Return and Refund Policy. Thank you for choosing NomNom! </blockquote>
</section>