<app-title title="Order Form" fontSize="1.6rem"></app-title>
      <h1 align="center">Payment</h1>
<div class="content">
    <app-title title="Order Form" fontSize="1.6rem"></app-title>
    <form [formGroup]="checkoutForm">
      <text-input [control]="fc.name" label="Name" [readonly]="true"></text-input>
      <text-input [control]="fc.address" label="Address" [readonly]="true"></text-input>
    </form>
    <order-items-list [order]="order"></order-items-list>
  </div>

  <div class="buttons-container">
    <div class="buttons">
      <button (click)="payWithCOD()">
        Pay with COD
      </button>
    </div>
  </div>