<section class="policy">
    <div class="containers">
        <div class="row">
            <div class=" col col-md-4" style="margin-left: 8%;">
                <div class="policy-card">
                    <div class="round">
                        <div class="round-icon">
                            <i class="fa fa-car"></i>
                        </div>
                    </div>
                    <h2>Free Shipping &amp; Return</h2>
                    <p>Free ship for orders more than 200.000đ</p>
                </div>
            </div>
            <div class="col-md-4" style="margin-left: 8%;">
                <div class="policy-card">
                    <div class="round">
                        <div class="round-icon">
                            <i class="fa fa-coins"></i>
                        </div>
                    </div>
                    <h2>Money Back Guarantee</h2>
                    <p>Three days money back guarantee</p>
                </div>
            </div>
            <div class="col-md-4" style="margin-left: 6%;">
                <div class="policy-card">
                    <div class="round">
                        <div class="round-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                    <h2>Online Support 24/7</h2>
                    <p>We support online 24/24 on a day</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="policy-product">
    <div class="containers" style="margin: 10px 5px 0 55px;">
        <div class="row">
            <div class="col-md-4">
                <div class="policy-p-card">
                    <div class="date">
                        <h3>16</h3>
                        <h4>May</h4>
                    </div>
                    <div class="policy-image">
                        <img src="./assets/policy.png" alt="About NomNom">
                    </div>
                    <h2>
                        About NomNom  
                    </h2>
                    <p>
                        With a focus on natural ingredients and innovative recipes, Nomnom offers a wide variety of snacks that cater to different dietary needs and preferences. From protein-packed energy bars to crunchy fruit and nut mixes, every product is crafted to deliver both taste and health benefits. 
                    </p>
                    <a href="/About Us" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="policy-p-card">
                    <div class="date">
                        <h3>16</h3>
                        <h4>May</h4>
                    </div>
                    <div class="policy-image">
                        <img src="./assets/img4.png" alt="Terms and Policies">
                    </div>
                    <h2>
                        Terms and Policies</h2>
                    <p>
                        The Terms and Services of NomNom outline the guidelines and rules governing the use of our products and services. We prioritize transparency, quality, and customer satisfaction with various aspects, including user responsibilities, payment procedures, return policies, and privacy practices.  
                    </p>
                    <a href="./About Us#terms-and-policies-section" class="read-more">Read More</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="policy-p-card">
                    <div class="date">
                        <h3>16</h3>
                        <h4>May</h4>
                    </div>
                    <div class="policy-image">
                        <img src="./assets/img3.png" alt="Terms and Policies">
                    </div>
                    <h2>
                       Frequently Asked Questions
                    </h2>
                    <p>
                        The FAQs section is designed to address the most common questions and concerns of our customers. This comprehensive resource provides clear and concise answers about our products, ordering process, shipping policies, and more. Our FAQs aim to provide quick and helpful information.  
                    </p>
                    <a href="" class="read-more">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>