<header>
  <div class="container">
    <a routerLink="./slider-homepage"><img src="./assets/logo.jpg">
    </a>
    <nav>
      <app-search></app-search>
    </nav>
    <nav>
      <ul>
        <li>
          <a routerLink="./slider-homepage" class="slider-homepage">Home</a>
        </li>
        <li>
          <a routerLink="/About Us">About Us</a>
        </li>
        <li class="menu-container">
          <a routerLink="/" class="our-products">
            Our Products
          </a>
          <div class="menu">
            <a routerLink="./food/category/Biscotti">Biscotti</a>
            <a routerLink="./food/category/Crispy Cookies">Crispy Cookies</a>
            <a routerLink="./food/category/Dried Fruits">Dried Fruits</a>
            <a routerLink="./food/category/Dried Vegetables">Dried Vegetables</a>
            <a routerLink="./food/category/Nuts and Granola">Nuts and Granola</a>
            <a routerLink="./food/category/Plant-based Butter">Plant-based Butter</a>
          </div>
        </li>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile-user">Profile</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

