<div class="containers">
    <div class="hero">
    </div>
    <main>
        <h2>About NomNom</h2>
        <div class="profile-container">
            <div class="profile">
                <div class="img-container">
                    
                </div>
                <div class="text">
                    <h3>NomNom_Official</h3>
                    <p>17th May, 2024</p>
                </div>
            </div>
            <div class="button">
                <a href="./slider-homepage" class="btn">Back</a>
            </div>
        </div>
        <div class="content">
            <p>
                Hello and welcome to NomNom - where the spirit of health and delicious flavors come together to create a unique culinary experience. 
                Since our opening in 2022, NomNom has been tirelessly striving to become the top destination for health enthusiasts and quality of life enthusiasts. With a strong vision and dedicated mission, we are committed to providing the highest quality healthy snack products, making it easy for everyone to maintain a healthy lifestyle every day.
            </p>
            <p>
                NomNom is not just a store, but also a hub of creativity and dedication to the community. 
                We focus not only on providing delicious products but also on providing a platform for sharing, learning, and experiencing health. We believe that health is not just about eating right, but also about a positive and balanced lifestyle.
            </p>
            <p>
                With each carefully selected and meticulously cared for product, we are committed to providing customers with fun and meaningful experiences. 
                From every light healthy snack to every nutritious snack, we pride ourselves on bringing diversity and satisfaction to every taste.
            </p>
            <p>
                Let's start the journey of exploring the taste of health with NomNom and together create a strong health community and continue to spread the spirit of a healthy lifestyle for everyone.
            </p>
            <blockquote>
                At NomNom, we believe that every snack should be a celebration of taste and vitality. Step into our enchanting realm of wholesome delights, where every bite is a symphony of flavor and nourishment.
            </blockquote>
        </div>
    </main>
</div>

<div class="articles" id="terms-and-policies-section">
    <div class="articles-heading">
        <h5>More information</h5>
        <h6>Terms and Policies</h6>
    </div>

    <div class="cards container">
        <div class="card-container">
            <div class="img-holder">
                <img src="./assets/pic3.webp" alt="Description of the image">
                <a href="./service-term">More</a>
            </div>
            <div class="card-text">
                <h4>Service Terms</h4>
                <p>Rules and conditions that users must comply with in order to use NomNom's products</p>
            </div>
        </div>
        <div class="card-container">
            <div class="img-holder">
                <img src="./assets/pic2.webp" alt="Description of the image">
                <a href="./payment-term">More</a>
            </div>
            <div class="card-text">
                <h4>Payment Terms</h4>
                <p>The manner, time and conditions of payment that both buyers and sellers must comply with</p>
            </div>
        </div>
        <div class="card-container">
            <div class="img-holder">
                    <img src="./assets/pic1.webp" alt="Description of the image">
                <a href="./exchange-term">More</a>
            </div>
            <div class="card-text">
                <h4>Exchange and Return Terms</h4>
                <p>Conditions and procedures when the customers want to return products or request a refunds</p>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>

