<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
<section class="bg-color">
    <div class="containers">
        <div class="title">
            <p>The Best Seller of NomNom</p>
            <h1><span>Best</span> Seller</h1>
        </div>
    </div>
    <div class="row" style="margin-top: -15px;">
        <div class="col-md-4">
            <div class="card">
                <div class="card-main">
                    <div class="favorite">No.1</div>
                    <div class="image">
                        <img src="./assets/pic6.png" alt="Best seller">
                    </div>
                    <div class="cart-line"></div>
                    <div class="cart-item">
                        <ul>
                            <li><a href="./food/category/Biscotti"><i class="fa fa-shopping-basket"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="content" style="margin-top:-40px;">
                    <a href="">Whole Wheat Biscotti</a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p style="margin-top: -2px;"><span class="price">₫40,000</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-main">
                    <div class="favorite">No.2</div>
                    <div class="image">
                        <img src="./assets/pic5.png" alt="Best seller">
                    </div>
                    <div class="cart-line"></div>
                    <div class="cart-item">
                        <ul>
                            <li><a href="./food/category/Plant-based Butter"><i class="fa fa-shopping-basket"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="content" style="margin-top:-40px;">
                    <a href="">Chocolate Hazelnut Butter</a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p style="margin-top: -2px;"><span class="price">₫85,000</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-main">
                    <div class="favorite">No.3</div>
                    <div class="image">
                        <img src="./assets/pic7.png" alt="Best seller">
                    </div>
                    <div class="cart-line"></div>
                    <div class="cart-item">
                        <ul>
                            <li><a href="./food/category/Dried Fruits"><i class="fa fa-shopping-basket"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="content" style="margin-top:-40px;">
                    <a href="">Dried Apricot</a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p style="margin-top: -2px;"><span class="price">₫110,000</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-main">
                    <div class="favorite">No.4</div>
                    <div class="image">
                        <img src="./assets/pic8.png" alt="Best seller">
                    </div>
                    <div class="cart-line"></div>
                    <div class="cart-item">
                        <ul>
                            <li><a href="./food/category/Nuts and Granola"><i class="fa fa-shopping-basket"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="content" style="margin-top:-40px;">
                    <a href="">Premium Traditional Granola</a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <p style="margin-top: -2px;"><span class="price">₫45,000</span></p>
                </div>
            </div>
        </div>
    </div>
</section>