<section class="post-header" style="margin-top:-50px;">
    <div class="header-content  post-container">
        <a class="back-to" href="./About Us">Back to About NomNom</a>
        <h1 class="header-title">Frequently Asked Questions</h1>
        <img src="./assets/img3.png" alt="" class="header-img">
    </div>
</section>
<section class="post-content post-container" style="margin-bottom: -1px; margin-top: 30px;">
    <div>
        <div>
            <div style="font-size: 15px; font-style: italic; color: #233000;">
                <h3>NomNom_Official</h3>
                <p style="color: grey; font-size: 12px;">17th May, 2024</p>
            </div>
        </div>
    </div>
    <blockquote>
        Thank you for shopping at NomNom. We want to ensure that you are completely satisfied with your purchase. If you are not entirely satisfied with your purchase, we're here to help.    </blockquote>
    <h3 class="sub-heading">1. Are there any special promotions or discounts available on NomNom's website?</h3>
    <p class="post-text">
        Yes, NomNom regularly offers special promotions and discounts to its customers.  
    </p>
    <h3 class="sub-heading">2. Are there any risks if I order online?</h3>
    <p class="post-text">
        With NomNom, customers do not have to worry, because we are committed to providing good quality products at affordable prices. In particular, customers will receive the product and pay at the same time.    </p>
    <h3 class="sub-heading">3. If I buy products in large quantities, will the price be reduced?</h3>
    <p class="post-text">
        When purchasing in large quantities, customers will enjoy incentives and discounts right at the time of purchase.</p>
    <h3 class="sub-heading">4. What are product return and exchange policies?</h3>
    <p class="post-text">
        Customers please refer to NomNom's product return policy to be provided with the most complete and detailed information.
Note: All products can be returned within 14 days from the date of receipt and the goods are guaranteed to retain their original product labels. (unused)  </p>
    <h3 class="sub-heading">5. I made a purchase, but I don't like it, can I return it?</h3>
    <p class="post-text">
        When purchasing, if you are not satisfied with the product, please let The Swan know and we will immediately exchange the product for you. Just make sure the product is unused and has intact labels. We will support exchanges for customers.</p>  
</section>