<section class="post-header" style="margin-top:-50px;">
    <div class="header-content  post-container">
        <a class="back-to" href="./About Us">Back to About NomNom</a>
        <h1 class="header-title">Payment Terms of NomNom</h1>
        <img src="./assets/pic2.webp" alt="" class="header-img">
    </div>
</section>
<section class="post-content post-container" style="margin-bottom: -1px; margin-top: 30px;">
    <div>
        <div>
            <div style="font-size: 15px; font-style: italic; color: #233000;">
                <h3>NomNom_Official</h3>
                <p style="color: grey; font-size: 12px;">17th May, 2024</p>
            </div>
        </div>
    </div>
    <blockquote>
        Thank you for shopping at NomNom. We offer various payment methods to make your shopping experience convenient and secure. By using our website and services, you agree to comply with the following payment terms:    </blockquote>
    <h3 class="sub-heading">1. Payment Methods</h3>
    <p class="post-text">
        We accept the following forms of payment:
        <li>By cash when you buy products at NomNom physical stores</li>
        <li>COD</li>
    </p>
    <h3 class="sub-heading">2. Payment Processing</h3>
    <p class="post-text">
        Your payment will be processed at the time of placing your order. We use secure payment processing platforms to ensure the safety of your personal and financial information. 
    </p>
    <h3 class="sub-heading">3. Currency</h3>
    <p class="post-text">
        All prices listed on our website are in VND. If you are shopping from a different country, your credit card company or bank may charge additional conversion fees. Please check with your financial institution for more information.    </p>
    <h3 class="sub-heading">4. Sales Tax</h3>
    <p class="post-text">
        Sales tax will be applied to your order based on the applicable tax rate for your shipping address. The total amount, including any applicable taxes, will be displayed at checkout before you confirm your order.    </p>
    <h3 class="sub-heading">5. Order Confirmation</h3>
    <p class="post-text">
        Once your payment is processed successfully, you will receive an order confirmation email with details of your purchase. Please review this email carefully and contact us immediately if you notice any discrepancies.  
    <h3 class="sub-heading">6. Payment Security</h3>
    <p class="post-text">
        We prioritize the security of your payment information and utilize industry-standard encryption protocols to safeguard your data during transmission. However, NomNom is not responsible for any unauthorized access or breaches that may occur due to factors beyond our control.    </p>
    <h3 class="sub-heading">7. Payment Disputes</h3>
    <p class="post-text">
        If you believe there is an error in your payment transaction or if you have any payment-related disputes, please contact us promptly to resolve the issue. We are committed to providing assistance and resolving any payment-related concerns to the best of our ability.    </p>
    <h3 class="sub-heading">8. Policy Changes</h3>
    <p class="post-text">
        NomNom reserves the right to modify or amend these payment terms at any time. Any changes will be effective immediately upon posting to the site. Your continued use of the site following the posting of changes to these terms will mean you accept those changes.    </p>
        <blockquote>
            By making a purchase at NomNom, you agree to be bound by these payment terms. Thank you for choosing NomNom!  </blockquote>
</section>