<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">
<div class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>NomNom</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our products</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Customer Support</h4>
  	 			<ul>
  	 				<li><a href="#">Service Terms</a></li>
  	 				<li><a href="#">Payment Terms</a></li>
  	 				<li><a href="#">Return & Exchange Terms</a></li>
  	 				<li><a href="#">Frequently Asked Questions</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Contact us</h4>
  	 			<ul>
  	 				<li><a href="#">Hotline</a></li>
  	 				<li><a href="#">Email</a></li>
  	 				<li><a href="#">Zalo</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-tiktok"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
</div>
